body{
    max-width: 960px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: #4F4F4F;
    font-size: calc(12px + (16 - 12) * ((100vw - 375px) / (1440 - 375)));
}
h1{
    margin-left: .5em;
}
.contenedor{
    display: flex;
    flex-direction: row; 
}

.formulario,.items-producto{
    margin: 1em;
    width: 50%;
}
.input-box span{
    display: flex;
    border: #828282 solid 1px;
    border-radius: .88em;
}
i{
    margin: 1em; 
    color: #828282;
 }
input{
    font-size: 1em;
    border: none;
    width: fit-content;
}
.input-box p{
    font-size: .76em;
}
input:focus,select:focus{
    outline: none;
}
select{
    border: none;
    color: #828282;
    font-size: 1em;
    width: 73%;
}
.code{
    margin-left: .5em;
}
.country{
    margin-right: .5em;
}
.code input{
    width: 55%;
}
.form-doble{
    display: flex;
    justify-content: center;
}
.doble{
    width: 50%;
}
.form-submit{
    margin-top: 2em;
    margin-bottom: 2em;
}
[type="checkbox"]{
    display: none;
}
label.save{
    padding-left: 2em;
    position: relative;
    font-size: .76em;
}
label.save::before{
    content: '';
    border: solid 1px #828282;
    border-radius: 15%;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: 0;
}
[type="checkbox"]:checked + label.save::before{
    color: white;
    background-color: #198754;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 700; 
    font-size: 1em;
    content: "\f00c";
    display: flex;
    justify-content: center;
    align-items: center;
}
[type="submit"]{
    background-color: #198754;
    color: white;
    font-size: 1em;
    font-weight: 600;
    border: none;
    width: 40%;
    padding: 1em;
    float: right;
    border-radius: .76em;
}
.items-producto{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: .76em;
    height: fit-content;
}
.producto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.info-producto{
    width: 40%;
}
img{
    margin: 1em;
    width: 35%;
    height: fit-content;
    border-radius: .76em;
}
.info-producto h3{
    margin-top: 0;
}
.price{
    display: flex;
    align-items: center;
}
.descuento{
    width: 50%;
    color: #198754; 
}
.no-descuento{
    font-size: .76em;
}
.cantidad{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #828282 solid 1px;
    border-radius: .76em;
    height: 50px;
}
.cantidad input{
    background: none;
    text-align: center;
    width: 60px;
    height: 20px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; 
}
.cantidad button i{
    margin: 0;
}
.costos{
    margin: 1em;
}
table{
    width: 100%;
    margin-top: 2em;
}
.descripcion{
    border-top: 1px solid #BDBDBD;
    font-size: 1.2em;
    padding-top: .5em;
}
.monto{
    padding-top: .5em;
    border-top: 1px solid #BDBDBD;
    text-align: end;
    font-size: .88em;
}
.error{
    border: none !important;
    color: red;
    font-size: .76em;
}

footer{
    margin: 3em 0em 1em;
    font-size: .88em;
    text-align: center;
}
.success {
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.success span{
    width: 50%;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
    font-weight: 600;
    margin: 2em 0em;
}
.success img{
    margin: 0;
    width: 50%;
    min-width: 300px;
}
@media (max-width:767px){
    .contenedor{
        display: flex;
        flex-direction: column; 
    }  
    .formulario{
        display: flex;
        flex-direction: column;
        order: 2;
        margin: auto;
        width: 60%;
        min-width: 350px;
    }
    .items-producto{
        width: 60%;
        margin: auto;
        order: 1;
        min-width: 350px;
        justify-content: center;
    }
    .success {
        display: flex;
        flex-direction: column;
    }
}
